html
  head
    title title
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/style.css")
  body

    div#cpu.title.h1 CPU
    div#cpu-data.stats
    div#cputemp-data.stats 0
    div#mem.title.h1 Mem
    div#mem-data.stats
      span#memusage-data 0 
      span of 
      span#memtotal-data 0
    table#net.stats(style="width:95px")
      tr
        td.h1(style="width:40px") Up 
        td#netup-data.net-data(style="width:55px")
      tr
        td.h1(style="width:40px") Down 
        td#netdn-data.net-data(style="width:55px")
    table#ps-data.stats
      thead
        tr
          td.h1(style="width:80px") Proccess
          td.h1(style="width:45px") PID
          td.h1(style="width:45px") Cpu
          td.h1(style="width:45px") Mem
      tbody#ps-tbody
    canvas#myCanvas(width=200 height=200)
    script(src="js/script.js")
