html
  head
    title title
    link(rel="stylesheet" href="css/style.css")
  body
    div#cpu.title CPU
    div#cpu-data.stats
    div#cputemp-data.stats 0
    div#mem.title MEM
    div#mem-data.stats
      span#memusage-data 0 
      span of 
      span#memtotal-data 0
    div#netup.stats
      span Up 
      span#netup-data
    div#netdn.stats
      span Down 
      span#netdn-data
    canvas#myCanvas(width=200 height=200)
    script(src="js/script.js")
