

body{
   font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
   font-size: 10px;
   color: #cccccc;
   /*background-color:#000000;*/
}

.title{
	position: absolute;
}
.stats{
	position: absolute;
}

#cpu{
	top:52px;
	left:48px;
}

#cpu-data{
	top: 36px;
	left: 77px;
}

#cputemp-data{
	top: 64px;
	left: 81px;
	font-size: 25px;
}

#mem{
	top: 111px;
	left: 17px;
}

#mem-data{
	top: 111px;
	left: 54px;
	text-align: right;
}

#net{
	/* float: left; */
	top: 144px;
	left: 17px;
	display: block;
	width: 200px;
}

#ps-data{
	top: 173px;
    left: 17px;
}

.h1{
	color:#FFFFFF;
}


