

body{
   font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
   font-size: 10px;
   color: #cccccc;
   /*background-color:#000000;*/
}

/*table{border:1px solid black;}*/

.title{
	position: absolute;
}
.stats{
	position: absolute;
}

#cpu{
    top: 47px;
    left: 42px;
}

#cpu-data{
	top: 36px;
	left: 77px;
}

#cputemp-data{
    top: 58px;
    left: 71px;
	font-size: 25px;
}

#mem{
	top: 91px;
	left: 140px;
}

#mem-data{
	top: 115px;
	left: 94px;
	text-align: right;
}

#net{
	top: 144px;
	display: block;
	width: 200px;
}
.net-data{
	text-align: right;
}
#ps-data{
	top: 173px;
}

#crypto-data{
	top: 250px;
}

.h1{
	color:#FFFFFF;
	font-weight: bold;
}

#up-chart {
    top: 135px;
    left: -6px;
}
#dn-chart {
    top: 148px;
    left: -6px;
}


